{% if header %}
<!DOCTYPE html>
<html>
{% block header %}
{% endblock %}
<link rel="manifest" href="/manifest.json">
<body>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

<!-- Include stylesheet -->
<link href="/static/simplemde.min.css" rel="stylesheet">
<!-- Include the Quill library -->
<script src="/static/simplemde.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">RSS</div>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
{% if login %}
        <li class="dropdown">
        <a href="#" class="active" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feed <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ base_url }}" onclick="return loadContentLink(event)">Alll</a></li>
            <li><a href="{{ base_url }}?liked" onclick="return loadContentLink(event)">Pinned</a></li>
            <li><a href="{{ base_url }}feed/{{ request.user.username }}?" onclick="return loadContentLink(event)">Local</a></li>
            <li><a href="{{ base_url }}feeds" onclick="return loadContentLink(event)">Feeds</a></li>
        </ul>
        </li>
{% else %} 
         <li class="active" id="navbar_home"><a>Feed</a></li>
{% endif %}
      </ul>
      
      <div id="login_form">
      {% if login %}
            <form class="navbar-form navbar-right" method="post" action="{{ base_url }}">
	    {% csrf_token %}
            <input type="hidden" name="action" value="logout">
            <button id="logout-submit" type="submit" class="btn btn-success">Sign Out</button>
            </form>           
      {% else %}            
          <form class="navbar-form navbar-right" id="login-form" action="" method="post">
	        {% csrf_token %}
                <input type="hidden" name="action" value="login">
                <div class="form-group">
                  <input id="login-username" name="username" type="text" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                  <input id="login-password" name="password" type="password" placeholder="Password" class="form-control">
                </div>
                <button id="login-submit" type="submit" class="btn btn-success">Sign in</button>
           </form>            
      {% endif %}
       </div>
    </nav><!--/.navbar-collapse -->
  </div>
</nav>
<div id="alerts-content" style="margin-top:62px">
</div>
<!-- Editor we keep this around as loading it is quite slow! -->
{% if login %}
<form action="" method="post" id="editor-panel" style="display:none">
<input type="hidden" name="action" value="post">
<input type="hidden" name="content_type" value="text/x-markdown">
{% csrf_token %}
<div class="panel panel-default" style="margin-left:50px;margin-right:50px;margin-top:5px;">
<div class="panel-heading">
	 <h3 class="panel-title"> 
	 <button type="button" onclick="myFunction(event)">+</button>
	 <a href="{{ item.feed.url }}">{{ item.feed.title|safe }}</a>:
         Title <input type="text" id="editor-title" name="title"></h3>
	 </div>
<div class="panel-body">
  <textarea name="description" id="editor"></textarea>
</div>
<div class="panel-footer">
<button type="button" class="btn btn-primary btn-sm" id="editor-submit-button" onclick="return sendPost(event);">
  <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Post 
</button>
</div>
</div>
</form>
{% endif %}
<div id="content">
{% endif %}
{% block content %}
<div class="alert alert-warning" role="alert">Warning offline, using
cached pages rather then live pages.</div>
{% endblock %}

{% if header %}
</div>
<script>
console.log("init editor");
var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
var base_url = '{{ base_url }}';
</script>
<script src="/static/feed/base.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
{% endif %}
